[submodule "vm1"]
	path = vm1
	url = git@github.com:upgautamvt/vm1.git
[submodule "vm2"]
	path = vm2
	url = git@github.com:upgautamvt/vm2.git
[submodule "benchmarking"]
	path = benchmarking
	url = git@github.com:upgautamvt/benchmarking.git
[submodule "linux"]
	path = linux
	url = https://github.com/torvalds/linux.git
	branch = master
